.shea {
  height: 50vh;
  width: 20vw;
  border: 2px solid black;
  background-image: url("../../Assets/Shea.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;

  .flexy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    height: 6%;
    width: 25%;
    position: absolute;
    top: 32%;
    left:50%;
    transform: rotate(2deg);

    .lEye {
      margin-right: 10px;
    }

    .rEye {
      margin-left: 12px;
    }
  }
}
