.container {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;

  p,
  .input {
    color: rgb(247, 158, 56);
    width: 20vw;
    margin-left: 8px;
  }

  .input {
    margin-top: 8px;
  }
}
